.conteiner {
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.contactForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactForm button {
  background-color: #5b5d5f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
span {
  font-size: 24px;
  font-weight: bold;
  color: #e70808;

  margin-bottom: 14px;
}
